.Gupta{
    background-color:lightblue;
    font-size:x-large;
    width: 800px;
    height: 1000px;
    padding-left: 20px;
    

}
.Shikha{
    text-align: center;
    
}
body{
    padding-left: 350px;
}